/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC 
font-family: 'Montserrat', sans-serif;
*/

body {
  min-height: 100vh;
  background-color: #46424d;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
header {
  height: 20vh;
}
main {
  display: flex;
  height: 80vh;
  justify-content: space-between;
}

button {
  display: flex;
}

h2 {
  color: #fff;
  width: 90%;
}

.left-side-box {
  display: flex;
  flex-direction: column;
  width: 65.5%;
  background-color: #2b2733;
}

.right-side-box {
  background-color: #2b2733;
  width: 34%;
}

.button-image {
  width: 30px;
  height: 30px;
}

#main-logo-header {
  height: 80px;
  background-color: #46424d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #fff;
}
/* 
#line {
  border-right: solid #46424d 5px;
  width: 1px;
  height: auto;
} */

.new-activity-text {
  color: #cbc9cf;
  margin-left: 40px;
}

#new-activity-section {
  display: flex;
  flex-direction: column;
  background-color: #46424d;
  border-radius: 9px;
  height: 85%;
  width: 90%;
  align-items: center;
  align-self: center;
}

#activity-button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.activity-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  width: 170px;
  height: 72px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: #fff solid 2px;
  border-radius: 9px;
  color: #fff;
  font-size: 1.1em;
}

#accomplish-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10%;
}

#accomplish-box label {
  color: #fff;
  font-size: 1.3em;
  font-weight: 400;
}

#accomplish-box input {
  color: #fff;
  height: 25px;
  margin-top: 4%;
}

.input-field-style {
  background: none;
  border: none;
  border-bottom: 1px solid #ffffff;
}

#time-set-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10%;
}

#time-set-box div {
  display: flex;
  flex-direction: column;
}

#time-set-box label {
  color: white;
  font-size: 1.3em;
  font-weight: 400;
}

#time-set-box input {
  margin-top: 10%;
  background: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: white;
  font-size: 1.1em;
}

#start-box {
  margin-top: 10%;
  display: flex;
  justify-content: flex-end;
}

#start-button {
  width: 27%;
  height: 30px;
  font-size: 1em;
  color: #46424d;
  display: flex;
  align-items: center;
  justify-content: center;
}

#record-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 80%;
}

p {
  color: #fff;
}

form {
  margin-top: 8%;
}

.clickedStudyButton {
  border: #b3fd78 solid 2px;
  color: #b3fd78;
}

.clickedMeditateButton {
  border: #c278fd solid 2px;
  color: #c278fd;
}

.clickedExerciseButton {
  border: #fd8078 solid 2px;
  color: #fd8078;
}
